/* CSS for Create Account Page */

body {
    background: linear-gradient(135deg, #1f1f1f, #242424); 
    font-family: 'Roboto', sans-serif; 
    color: #fff; 
}

.container {
    width: 400px;
    margin: 100px auto;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8); 
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1); 
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    text-align: left; 
}

input {
    width: calc(100% - 16px);
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1); 
    color: #fff;
}

input:focus {
    outline: none; 
}

button {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50; 
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 5px;
}

button:hover {
    background-color: #45a049; 
}

#loginPage {
	background-color: rgba(100, 100, 100, 0.8); 
}

#loginPage:hover {
	background-color: rgba(120, 120, 120, 0.8); 
}

a {
    color: #42b7e7; 
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
