/* matchingLobby.css */
body {
    background: linear-gradient(135deg, #1f1f1f, #242424); 
    font-family: 'Roboto', sans-serif; 
    color: #fff;
    margin: 0;
    padding: 0;
}

.header {
    height: 50px;
    background: linear-gradient(135deg, #1f1f1f, #242424); 
    text-align: center;
    line-height: 50px;
	display:flex;
	flex-direction: row;
}

#disconnect {
	width: auto;
	margin-left: auto;
    background-color: #c0310a; 

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 600px; 
    margin: 50px auto;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8); 
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
}

.images-container {
    display: flex; 
    justify-content: space-between; 
    width: 100%;
    margin-top: 20px; 
}

#image1, 
#image2 {
    text-align: center;
    flex:1;
}

.playerLabel {
    text-align: center;
}

button {
    width: 80%;
    padding: 10px;
    margin-top: 20px; 
    background-color: #4CAF50; 
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049; 
}

.footer {
    height: 50px;
    background-color: #333; 
    text-align: center;
    line-height: 50px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
